-- MySQL dump 10.13  Distrib 8.0.37, for Win64 (x86_64)
--
-- Host: 192.168.1.17    Database: esep
-- ------------------------------------------------------
-- Server version	8.0.42-0ubuntu0.20.04.1

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `address_change_histories`
--

DROP TABLE IF EXISTS `address_change_histories`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `address_change_histories` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `address_id` bigint unsigned NOT NULL,
  `action` varchar(191) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `address_change_histories`
--

LOCK TABLES `address_change_histories` WRITE;
/*!40000 ALTER TABLE `address_change_histories` DISABLE KEYS */;
/*!40000 ALTER TABLE `address_change_histories` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `addresses`
--

DROP TABLE IF EXISTS `addresses`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `addresses` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `company_id` bigint unsigned DEFAULT NULL,
  `parent_id` bigint unsigned DEFAULT NULL,
  `region_id` bigint unsigned DEFAULT NULL,
  `city_id` bigint unsigned DEFAULT NULL,
  `district_id` bigint unsigned DEFAULT NULL,
  `microdistrict_id` bigint unsigned DEFAULT NULL,
  `street_id` bigint unsigned DEFAULT NULL,
  `house_id` bigint unsigned DEFAULT NULL,
  `entrance` varchar(191) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `floor` varchar(191) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `type` int NOT NULL DEFAULT '1',
  `name_ru` varchar(191) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `name_kk` varchar(191) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `name_en` varchar(191) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_by` bigint unsigned DEFAULT NULL,
  `updated_by` bigint unsigned DEFAULT NULL,
  `deleted_by` bigint unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `addresses_company_id_index` (`company_id`),
  KEY `addresses_parent_id_index` (`parent_id`),
  KEY `addresses_region_id_index` (`region_id`),
  KEY `addresses_city_id_index` (`city_id`),
  KEY `addresses_district_id_index` (`district_id`),
  KEY `addresses_microdistrict_id_index` (`microdistrict_id`),
  KEY `addresses_street_id_index` (`street_id`),
  KEY `addresses_house_id_index` (`house_id`),
  KEY `addresses_created_by_index` (`created_by`),
  KEY `addresses_updated_by_index` (`updated_by`),
  KEY `addresses_deleted_by_index` (`deleted_by`),
  KEY `addresses_type_by_index` (`type`) USING BTREE,
  KEY `addresses_deleted_at_by_index` (`deleted_at`) USING BTREE,
  KEY `addresses_name_ru_index` (`name_ru`) USING BTREE,
  CONSTRAINT `addresses_city_id_foreign` FOREIGN KEY (`city_id`) REFERENCES `addresses` (`id`) ON DELETE SET NULL,
  CONSTRAINT `addresses_company_id_foreign` FOREIGN KEY (`company_id`) REFERENCES `companies` (`id`) ON DELETE SET NULL,
  CONSTRAINT `addresses_created_by_foreign` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `addresses_deleted_by_foreign` FOREIGN KEY (`deleted_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `addresses_district_id_foreign` FOREIGN KEY (`district_id`) REFERENCES `addresses` (`id`) ON DELETE SET NULL,
  CONSTRAINT `addresses_house_id_foreign` FOREIGN KEY (`house_id`) REFERENCES `addresses` (`id`) ON DELETE SET NULL,
  CONSTRAINT `addresses_microdistrict_id_foreign` FOREIGN KEY (`microdistrict_id`) REFERENCES `addresses` (`id`) ON DELETE SET NULL,
  CONSTRAINT `addresses_parent_id_foreign` FOREIGN KEY (`parent_id`) REFERENCES `addresses` (`id`) ON DELETE SET NULL,
  CONSTRAINT `addresses_region_id_foreign` FOREIGN KEY (`region_id`) REFERENCES `addresses` (`id`) ON DELETE SET NULL,
  CONSTRAINT `addresses_street_id_foreign` FOREIGN KEY (`street_id`) REFERENCES `addresses` (`id`) ON DELETE SET NULL,
  CONSTRAINT `addresses_updated_by_foreign` FOREIGN KEY (`updated_by`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=619804 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `addresses`
--

